:root {
    --primary : #FE805D;
    --dark : #3C2443;
    --black : #000000;
    --white : #ffffff;
    --gray : #4e4e4e;
    --red : #FF6270;
    --light-blue : #46C2DA;
    --light-green : #40F721;
    --yellow : #F9DE02;
}